<a href="https://colab.research.google.com/github/Dr0go/DIVINEAI1/blob/main/List_prac1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
smallest = None
print('Before')
for value in [7,3,67,28,95,63] : 
     if smallest is None : 
         smallest = value   
     elif value < smallest : 
         smallest = value   
     print(smallest, value)
print('After', smallest)

Before
7 7
3 3
3 67
3 28
3 95
3 63
After 3

In [ ]:
ex_tuple = (7,3,67,28,95,63)
print('A tuple:', ex_tuple)
print('First element of tuple is :', ex_tuple[0])

A tuple: (7, 3, 67, 28, 95, 63)
First element of tuple is : 7

In [ ]:
List=[2,54,7,4,3] 
print(List) 
List[0]=20 
print(List) 
List[3]=8 
print(List)

[2, 54, 7, 4, 3]
[20, 54, 7, 4, 3]
[20, 54, 7, 8, 3]

In [ ]:
example_list = [7,3,67,287,95,63]
print('A list:', example_list)
print('First element of list:', example_list[0])
example_list.append(12)
print('Appended list:', example_list)
example_list[0] = 45
print('Modified list:', example_list)

A list: [7, 3, 67, 287, 95, 63]
First element of list: 7
Appended list: [7, 3, 67, 287, 95, 63, 12]
Modified list: [45, 3, 67, 287, 95, 63, 12]

In [ ]:
text = "DROGOGG"
print('Here is a string:', text)
print('First character:', text[0])
print('Number of characters in text', len(text))

Here is a string: DROGOGG
First character: D
Number of characters in text 7

In [ ]:
example_set = set([1,2,2,2,2,4,5,6,6,6])
print('A set:', example_set)

A set: {1, 2, 4, 5, 6}

In [ ]:
d = { "foo" : 1, "bar" : 2,"brand" : ['LAMBORGHINI', 'ALFA ROMEO','MERCEDES','BUGGATI'] }
print(d["brand"][2])

MERCEDES

In [ ]:
some_dict = {}
some_dict["GG"] = "WOW!"
print(some_dict.keys())

dict_keys(['GG'])

In [ ]:
d1={"flag": ["red","white","blue",("GG",[1,2,'EZ4ENCE'])]}
print(d1['flag'][3][1][2][4])

N

In [ ]:
d1={
    "flag":["d","h","e",("hi",[1,{1:['Happy Lunar new{year: Arigato}']},2,'ho'])]}
print(d1['flag'][-1][-1][-3][1][-1][-8])

A

In [ ]:
print(d1.get('flg'))

None

In [ ]:
a = (1,6,1)
print(id(a))
b = (2,5,7)
print(id(b))
a = a + b
print(id(a))
print(id(b))

2110103820864
2110103829184
2110075870656
2110103829184

In [ ]:
a = [1,6,1]
print(id(a))
b = [2,5,7]
print(id(b))
a = a + b
print(id(a))
print(id(b))
print(a)

2110103889728
2110103892544
2110103892288
2110103892544
[1, 6, 1, 2, 5, 7]

In [ ]:
a = [1,6,1]
print(id(a))
b = [2,5,7]
print(id(b))
a.append(4)
print(id(a))
print(id(b))
print(a)

2110103889728
2110103735424
2110103889728
2110103735424
[1, 6, 1, 4]

In [ ]:
s1 = "MOSHI MOSHI" 
s2 = 'TASKETE'
s1 = s1 + s2
s1 = s1 + ' KUDASAI'
s1

'MOSHI MOSHITASKETE KUDASAI'

In [ ]:
'ara' * 3

'araaraara'

In [ ]:
a = [1,True,'ara ara',[1,2,3],(5,6,'sayonara',[7,8,'gomen'],('honto ni',5,False))]
a[4][3][2][2]

'm'

In [ ]:
my_list = [1, 2, 4, 4] 
your_list = [4, 4, 2, 1] 
his_list = [1, 2, 3, 4]
print(my_list == your_list) 
print(my_list == his_list)
my_dict = {1:7, 2:2, 3:3, 4:4} 
your_dict = {4:4, 3:3, 2:2, 1:1}
print(my_dict == your_dict)

False
False
False

In [ ]:
example_dictionary = {"A": "Akatsuki", 
                      "B": "Bulat ", 
                      "C": "Chrome", 
                      "D": "Deidara"}
print('A dictionary:', example_dictionary)
print('Value associated to key C is:', example_dictionary['C'])

A dictionary: {'A': 'Akatsuki', 'B': 'Bulat ', 'C': 'Chrome', 'D': 'Deidara'}
Value associated to key C is: Chrome

In [ ]:
for num in [5,4,3,2,1]:
    print(num**2)

for num in 'OBITO':
    print(num)

25
16
9
4
1
O
B
I
T
O

In [ ]:
x = 2
print('Is 2 < 5?', x < 7)
print('Is 2 == 5?', x == 7)
print('Is 2 < 5 and 2 > 1?', (x < 5) & (x > 1))

if x == 2:
    print('x is equal to 2')

Is 2 < 5? True
Is 2 == 5? False
Is 2 < 5 and 2 > 1? True
x is equal to 2

In [ ]:
example_list = ['U', 'C', 'K', 'O', 'F']
for element in example_list:
    print("The element in list is:", element)

The element in list is: U
The element in list is: C
The element in list is: K
The element in list is: O
The element in list is: F

In [ ]:
total = 0
prices = [253.50, 63.50, 41.50]
for price in prices:
    print('Price is', price) 
    total = total + price
print('total is', total)
average = total/len(prices) 
print('avg is', average)

Price is 253.5
Price is 63.5
Price is 41.5
total is 358.5
avg is 119.5

In [ ]:
import random
r1 = random.random()
print(r1)
r2 = random.choice([11,22,33,44,55])
r3 = random.randint(1, 100) 
print(r2)
print(r3)

0.6131520448477988
11
11

In [ ]:
import random
for i in range(100):
    ticket = random.randint(1, 100)
    print(ticket)

17
43
48
71
46
25
74
13
22
37
62
86
37
78
15
36
19
87
29
70
34
13
63
95
26
70
4
32
45
99
45
39
89
40
23
74
22
65
28
20
100
92
82
36
82
12
100
95
87
41
85
10
98
81
95
34
76
82
23
21
48
86
54
84
7
43
16
68
43
14
66
99
48
75
58
80
54
80
89
3
61
87
91
78
79
90
43
76
19
15
47
30
57
98
6
9
25
43
50
68

In [ ]:
for i in range(2001, 2022, 2):
    print(i)

2001
2003
2005
2007
2009
2011
2013
2015
2017
2019
2021

In [ ]:
menu_prices = {
    'K': 0.50,
    'P': 1.50, 
    'S': 2.50, 
    'G': 3.50
}
print(menu_prices.items())
for name, price in menu_prices.items():
    print(name, ': RS', price)

dict_items([('K', 0.5), ('P', 1.5), ('S', 2.5), ('G', 3.5)])
K : RS 0.5
P : RS 1.5
S : RS 2.5
G : RS 3.5

In [ ]:
n = 0
num= int(input('Enter the Number'))
while n<= num :
    print(n)
    n+=1

Enter the Number77
0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77

In [ ]:
n = 1
num= int(input('Enter the Number'))
while n<= num :
    print(n)
    n+=15

Enter the Number77
1
16
31
46
61
76

In [ ]:
x = input("x=")
y = input("y= ")
print(type(x))

if x < y: 
    print('x is less than y') 
elif x > y: 
    print ('x is greater than y') 
else: 
    print('x and y are equal')

x=1
y= 2
<class 'str'>
x is less than y

In [ ]:
print('Before')
for num in [11,44,66,88,33] :
    if num > 20: 
        print('Large number',num)
print('After')

Before
Large number 44
Large number 66
Large number 88
Large number 33
After